@charset "utf-8";
@import url('reset.css');
/* CSS Document */

body{
	
}


.centrar{
	position:relative;
	width:1000px;
	margin:0px auto;
}

#nav{
	position:absolute;
	width:180px;
	height:110px;
}

#nav_ayuda{
	position:absolute;
	width:180px;
	height:110px;
	top:318px;
	left: 1px;
}

/*INICIO MENU PRINCIPAL
*/

#nav #menu{
	-webkit-box-shadow:1px 1px 3px #888;
	-moz-box-shadow:1px 1px 3px #888;
}
#nav #menu li a.categoria{
	text-align:left;
	font-size:14px;
}
#nav #menu li{
	border-bottom:1px solid #FFF;
}
#nav #menu ul li,nav #menu li:last-child{
	border:none;
}
#nav #menu ul li li{
	padding-left: 10px;
}
#nav a{
	display:block;
	color:#FFF;
	text-decoration:none;
	font-family:Verdana,Tahoma,'Times New Roman';
	font-size:12px;
	padding:6px 8px;
	text-shadow:1px 1px 1px #325179;
}

#nav #menu a:hover{
	color:#F9B855;
	-webkit-transition: color 0.2s linear;
}
#nav #menu ul a{
	background-color:#666666;
}
#nav #menu ul a:hover{
	background-color:#FFF;
	/*color de letra de submenu*/
	color:#126FAA;
	text-shadow:none;
	-webkit-transition: color, background-color 0.2s linear;
}
#nav ul{
	display:block;
	/*color de fondo de menu izq*/
	background-color:#126FAA;
	margin:0;
	padding:0;
	width:100%;
	list-style:none;
}
#nav #menu ul{
	background-color:#126FAA;
}
#nav #menu li ul {
	display:none;
}

/*FIN MENU PRINCIPAL*/



#pie{
	background-color:#015030;
	position:absolute;
	top:0px;
	width:1000px;
	height:72px;
}

#inscribir{
 
	    width: 500px;
	    padding: 20px;
	    background: #f0f0f0;
	    overflow:auto;
	 
	    /* Border style */
	    border: 1px solid #cccccc;
	    -moz-border-radius: 7px;
	    -webkit-border-radius: 7px;
	    border-radius: 7px; 
	 
	    /* Border Shadow */
	    -moz-box-shadow: 2px 2px 2px #cccccc;
	    -webkit-box-shadow: 2px 2px 2px #cccccc;
	    box-shadow: 2px 2px 2px #cccccc;
	 
	  margin-left: -200px;
    }

